/* Header.css */

/* Estilo general del header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilo del menú */
.menu {
    display: flex;
    align-items: center;
}

.menu-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

.menu-content {
    position: absolute;
    top: 50px;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.menu-content.open {
    transform: translateX(0);
}

.menu-content.close {
    transform: translateX(-100%);
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 10px;
}

/* Estilo de los botones */
.buttons {
    display: flex;
}

.buttons button {
    border: none;
    background-color: #0078d4;
    color: white;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
}
