body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
}

.signup .title {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.signup .box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.signup .field .control .input.is-large {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.signup .button {
    background-color: #00d1b2;
    border-radius: 5px;
    border: 1px solid #00d1b2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
    padding: 0 20px;
}

.signup .login {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}