body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
    position: relative;
    top: 60px;
    height: calc(100vh - 60px);
    padding-top: 100px;
    overflow: auto;
    text-align: center;
    flex-direction: column;
    color: #fff;
    background-color: #282c34;
}

.body h1 {
    margin-bottom: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

.menu-content {
    position: absolute;
    top: 70px;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.menu-content.open {
    transform: translateX(0);
}

.menu-content.close {
    transform: translateX(-100%);
}

.categorias-list {
    list-style: none;
    padding: 0;
}

.categorias-list li {
    padding: 10px;
}

.categorias-list li a {
    text-decoration: none;
}

.categorias-list li.selected {
    background-color: #0D6EFD;
}

.categorias-list li.selected a{
    color: #fff;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 10px;
}

.buttons button, .buttons a {
    margin-left: 10px;
}

.row .cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

row .cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .cart-item input {
    width: 60px;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.card-text {
    margin-bottom: 0.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-text{
    color: black;
    font-size: 16px;
}